[submodule "jansson"]
	path = jansson
	url = https://github.com/akheron/jansson.git
[submodule "forestdb"]
	path = forestdb
	url = https://github.com/couchbaselabs/forestdb.git
[submodule "http-parser"]
	path = http-parser
	url = https://github.com/joyent/http-parser.git
