[submodule "jansson"]
	path = jansson
	url = https://github.com/akheron/jansson.git
[submodule "forestdb"]
	path = forestdb
	url = https://github.com/couchbaselabs/forestdb.git
[submodule "libuv"]
	path = libuv
	url = https://github.com/libuv/libuv.git
